{
  "IsEncrypted": false,
  "Values": {
    "AzureWebJobsStorage": "DefaultEndpointsProtocol=https;AccountName=vuejsvagasbotserverless;AccountKey=?????;EndpointSuffix=core.windows.net",
    "FUNCTIONS_WORKER_RUNTIME": "node",
    
    "LAST_DATE_REQUEST":"2020-07-28T17:17:17Z",

    "VUEJSVAGAS_BOT_TOKEN":"????????",
    "VUEJS_BRASIL_CHAT_ID": -00000000
  }
}
